@charset "utf-8";


div.row{
    clear: both;
}
div.row::after{
    clear: both;
    content: "";
    display: table;
}

div[class^="col-1"]{
    float: left;
}

div.col-1-1{
    width: 100%;
}
div.col-1-2{
    width: 50%;
}
div.col-1-3{
    width: 33%;
}



