body{
    padding: 0;
    margin:0;
    font-family: 'Poppins', sans-serif;
}

/* navigation bar */
.container{
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header{
    background: white;
    color: #264653;
    min-height: 50px;
    position: fixed;
    top: 0;
    width: 100%;
    filter: drop-shadow(rgba(44, 44, 44, 0.2) 0px 7px 7px);
}

header #name{
    float: left;
}

#name > h1{
    font-size: 20px;
}

nav{
    float: right;
}

nav li{
    float: left;
    display: inline;
    text-align: center;
    list-style: none;
    padding: 0px 25px 0px 25px;
}
 nav a{
     text-decoration: none;
     color: #264653;
 }
/* banner */
.banner{
    margin-top: 55px;
    padding: 15px;
    background: #E9c46a;
    min-height: 600px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0;
}

/* banner image and background */
.div1{ 
    grid-area: 2 / 5 / 5 / 8;
    border-radius: 700px;
    background: #e76f51;
    
}
.div2{ 
    grid-area: 2 / 5 / 5 / 8;
    padding: 10px;
    background-image: url("newmepost.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: contain;
}

/* banner intoduction */
.div5{ 
    grid-area: 2 / 2 / 7 / 6; 
    margin-bottom: 10px;
    display: flex;
}

.div5 h1{
    font: bolder;
    font-size: 55px;
    color: black;
}
.type{
    position: relative;
}
.type::after{
    content: "";
    border-right: 2px solid black;
    right: -5px;
    width: 1px;
    height: 15%;
    position: absolute;
    animation: blink 1s infinite ease;
}

@keyframes blink{
    0%{opacity: 0;}
    100%{opacity: 1;}
}
/* introduction bar */

p{
    padding: 15px;
    padding-top: 30px;
    font: 35px;
    text-align: center;
}

/* works gallery */
.gallery {
    min-height:1200px;
    background: #264653;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 1fr);
    grid-gap: 20px;
    }
    
    .pic0 { 
        grid-area: 2 / 2 / 4 / 8; 
        font-size: 30px;
        font: bolder;
        color: #e76f51;
    }
    
    .pic1 { grid-area: 4 / 2 / 9 / 6; }
    .pic2 { grid-area: 9 / 2 / 13 / 4; }
    .pic3 { grid-area: 9 / 4 / 13 / 6; }
    .pic4 { grid-area: 4 / 6 / 7 / 8; }
    .pic5 { grid-area: 7 / 6 / 13 / 8; }
    .pic6 { grid-area: 4 / 8 / 7 / 10; }
    .pic7 { grid-area: 4 / 10 / 7 / 12; }
    .pic8 { grid-area: 7 / 8 / 10 / 12; }
    .pic9 { grid-area: 10 / 8 / 13 / 10; }
    .pic10{ grid-area: 10 / 10 / 13 / 12; }

    .child{
        background: white;
        border: solid 5px #2a9d8f;
    }

    .child:hover{
        transform: scale(1.02);
        transition: transform 2s;
    }

    

